name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        run: pip install uv

      - name: Sync dependencies
        run: uv sync --group dev

      - name: Lint (ruff)
        run: uv run ruff check gendiff tests

      - name: Tests (with coverage)
        run: uv run pytest

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: "https://sonarcloud.io"

      - name: Check coverage.xml presence
        run: |
          ls -la
          if [ -f coverage.xml ]; then
            echo "coverage.xml exists"
          else
            echo "coverage.xml MISSING"
            exit 1
          fi